@import url(https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500&amp;display=swap);
body {
    font-family: 'Varta';
    background-image: url("../img/bg-cover.png");
}


h1{
    border-left: 10px solid black;
}
.container {
    max-width: 1152px;
    height: 720px;
    margin: auto;
    position: relative;
    border: 3px solid red;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}